<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dev lab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>

  <div  id="app">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">remidatroa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" :href="link" :title="message" target="_blank"> home:site</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">


    <div class="alert alert-primary alert-dismissible fade show" v-if="success" role="alert">
      <p>bruh done!</p>
      <button type="button" class="close" data-dismiss="alert" @click="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <row class="col-md">

<div class="input-group mb-3" >
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3" v-model="message"> your name</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" v-model="message">

</div>

<p>Hi {{ message }} !</p>
<p> name: {{ firstName }} <br>
    lastname: {{ lastName}} <br>
    complete: <input type="text" v-model="fullName">
</p>
    </row>


   <div class="row">
     <div class="col-sm">
      <ul class="list-inline">
        <li  class="list-inline-item" v-for="tag in tags">
          <button type="button" class="btn btn-outline-secondary"> {{ tag }} </button>
        </li>
      </ul>
      <button @click="addTag" class="btn btn-light"> Add tag</button>
    </div>
  </div>


  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.js"></script>
<script src="js/app.js"></script>
</body>

</html>
